.wy-side-nav-search>a img.logo,
.wy-side-nav-search .wy-dropdown>a img.logo {
  background-color: #fcfcfc;
  border-radius: 4px;
  display: block;
}

#forkongithub a{
  background:#000;
  color:#fff;
  text-decoration:none;
  font-family:arial,sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}

#forkongithub a:hover{
  background:#c11;
  color:#fff;
}

#forkongithub a::before,#forkongithub a::after{
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#fff;
}

#forkongithub a::after{
  bottom:1px;
  top:auto;
}

@media screen and (min-width:768px){
  #forkongithub{
    position:fixed;
    display:block;
    top:-20px;
    right:-20px;
    width:215px;
    overflow:hidden;
    height:215px;
    z-index:9999;
}

  #forkongithub a{
    width:300px;
    position:absolute;
    top:60px;
    right:-110px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    box-shadow:4px 4px 10px rgba(0,0,0,0.8);
  }

  #forkongithub a.mobile {
    display: none;
  }
}


@media screen and (max-width:768px){
  #forkongithub{
    float: right;
    margin-top: 88px;
    margin-right: 25px;
  }

  #forkongithub a { 
    padding:5px 5px;
  }

  
  #forkongithub a.desktop {
    display: none;
  }
}
