name: Documentation

on:
  release:
    types: [created]

jobs:
  documentation:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements-doc.txt
        python -m pip install -e .
    - name: Sphinx Build
      working-directory: documentation
      run: |
        make html
        touch _build/html/.nojekyll 
    - name: Deploy to gh-pages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.PAT }}
        BRANCH: gh-pages
        FOLDER: documentation/_build/html
        CLEAN: true

